<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sql.hamoye.account_mapper">
	<insert id="insertAccount" parameterType="account">		
		insert into 
		account(account_number, create_date, purpose, income_source, balance, prime_rate)
		values(#{accountNumber},to_date(TO_CHAR(SYSDATE,'YYYY-MM-DD'),'YYYY-MM-DD'),#{purpose},#{incomeSource},#{balance},#{primeRate})
	</insert>	
	
</mapper>









