<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sql.hamoye.ecoChallenge_mapper">
	<insert id="registerEcoChallenge" parameterType="EcoChallenge">
		<selectKey keyProperty="ecoChallengeId" resultType="string" order="BEFORE">
			select 'eco'||eco_seq.nextval from dual
		</selectKey>
		
		insert into 
		eco_challenge(eco_challenge_id, eco_challenge_name,prime_rate, start_date, end_date,
		limited_people, content, eco_challenge_type, total_count)
		values(#{ecoChallengeId}, #{ecoChallengeName},#{primeRate},#{startDate},#{endDate},
		#{limitedPeople}, #{content},#{ecoChallengeType}, #{totalCount})
	</insert>
	
	<update id="updateEcoChallenge" parameterType="EcoChallenge">
		update eco_challenge
		set eco_challenge_name = #{ecoChallengeName},
		end_date = #{endDate},
		limited_people = #{limitedPeople},
		content = #{content},
		challenge_image =#{challengeImage},
		is_delete = #{isDelete}
		where eco_challenge_id = #{ecoChallengeId}
	</update>
	
	<update id="deleteEcoChallenge" parameterType="string">
		update eco_challenge
		set is_delete=1
		where eco_challenge_id = #{value}
	</update>
	
	<update id="updateEcoChallengeImage" parameterType="ecoChallenge">
		update eco_challenge
		set challenge_image =#{challengeImage}
		where eco_challenge_id = #{ecoChallengeId}
	</update>
	
	<select id="searchEcoChallenge" parameterType="string" resultType="EcoChallenge">
		select eco_challenge_id, prime_rate, eco_challenge_name, start_date,
		end_date, limited_people, is_delete, challenge_image, total_count
		from eco_challenge
		where eco_challenge_name like '%' || #{value} || '%'
	</select>
	
	<select id="getEcoChallengeStatus" parameterType="string" resultType="EcoChallenge">
		select eco_challenge_id, prime_rate, eco_challenge_name, start_date,
		end_date, limited_people, is_delete, challenge_image, total_count
		from eco_challenge
	</select>
	
	<select id="getEcoChallengeList" resultType="EcoChallenge">
		select eco_challenge_id, eco_challenge_name, prime_rate, start_date, eco_challenge_type,
		end_date, limited_people, is_delete, content, challenge_image, total_count
		from eco_challenge
	</select>
	
	<select id="getEcoChallengeDetail" parameterType="string" resultType="EcoChallenge">
		select eco_challenge_id, eco_challenge_name, prime_rate, start_date,total_count,
		end_date, limited_people, is_delete, challenge_image,eco_challenge_type,content
		from eco_challenge
		where eco_challenge_id = #{value}
	</select>
	
	<select id="getEcoChallengeType" resultType="string">
		select distinct eco_challenge_type
		from eco_challenge
		order by eco_challenge_type asc
	</select>
	
	<!-- <select id="getRecommendedChallengeList" parameterType="User" resultType="Challenge">
		select eco_challenge_id, prime_rate, eco_challenge_name, start_date,
		end_date, limited_people, is_delete, challenge_image
		from eco_challenge
		where eco_challenge_id=
	</select> -->
	
	
</mapper>









