<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sql.hamoye.participation_mapper">
	<resultMap type="participation" id="participationWithUserAndChallenge">
		<id column="participation_id" property="participationId"/>
		<result column="participation_date" property ="participationDate"/>
		<result column="achievement_rate" property ="achievementRate"/>
		<result column="is_success" property ="isSuccess"/>
		<association property="tripChallenge" javaType="tripChallenge">
			<id column="trip_challenge_id" property="tripChallengeId"/>
			<result column="trip_challenge_name" property="tripChallengeName"/>
			<result column="reward_point" property="rewardPoint"/>
			<result column ="hits" property="hits"/>
		</association>
	</resultMap>
	
	<insert id="doParticipateTripChallenge" parameterType="participation">
	<selectKey keyProperty="participationId" resultType="string" order="BEFORE">
			select 'par' || PARTICIPATION_seq.nextval from dual
		</selectKey>
		insert into 
		participation(participation_id, trip_challenge_id, user_id, participation_date, achievement_rate, is_success)
		values(#{participationId}, #{tripChallengeId},#{userId},to_date(to_char(sysdate, 'yyyy-mm-dd')),0,0)
	</insert>
	
	<select id="checkParticipationTripChallenge" parameterType="participation" resultType="int">
		select count(*)
		from participation
		where trip_challenge_Id = #{tripChallengeId} and user_Id = #{userId}
	</select>
	
	<select id="getParticipateChallenge" parameterType="user" resultMap="participationWithUserAndChallenge">
		select p.participation_id, p.participation_date, p.achievement_rate, p.is_success, t.trip_challenge_id,
		t.trip_challenge_name, t.reward_point, t.hits
		from participation p
		join users u on p.user_id = u.user_id
		join trip_challenge t on p.trip_challenge_id = t.trip_challenge_id
		where p.user_id = #{value}
	</select>
	
	<select id="getAllUserByTripChallenge" parameterType= "string" resultType="participation">
		select p.participation_id, p.participation_date, p.achievement_rate, p.is_success
		from participation p
		where p.trip_challenge_id = #{value}
	</select>
	
	<select id="getParticipationCntByDate" parameterType = "string" resultType="int">
		select count(participation_id)
		from participation
		where to_char(participation_date, 'yyyyMM') = #{value}
	</select>
	
	<select id="getParticipationCntByTripChallenge" parameterType="string" resultType="participation">
		select participation_id, participation_date, achievement_rate, is_success, user_id, trip_challenge_id
		from participation
		where trip_challenge_id = #{value}
	</select>
	
</mapper>







