<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sql.hamoye.payment_mapper">
	<select id="getPublicTransportationUsageByUserId" parameterType="string" resultType="payment">
		select payment_id, user_id, category, price, payment_date
		from payment
		where user_id = #{value} and category='대중교통' and to_char(payment_date,'yyyy/mm') = to_char(add_months(sysdate,-1),'yyyy/mm')
	</select> 
</mapper>









