<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sql.hamoye.tripChallenge_mapper">
	<insert id="registerTripChallenge" parameterType="TripChallenge">
	<selectKey keyProperty="tripChallengeId" resultType="string" order="BEFORE">
			select 'trp'||trip_seq.nextval from dual
		</selectKey>	
		insert into 
		trip_challenge(trip_challenge_id, trip_challenge_name, start_date, end_date, hits, reward_point)
		values(#{tripChallengeId}, #{tripChallengeName},#{startDate},#{endDate},#{hits},#{rewardPoint})
	</insert>
	
	<update id="updateTripChallenge" parameterType="TripChallenge">
		update trip_challenge
		trip_challenge_name = #{tripChallengeName},
		start_date = #{startDate},
		end_date = #{endDate},
		hits = #{hits},
		reward_point = #{rewardPoint},
		is_delete = #{is_delete}
		where trip_challenge_id = #{tripChallengeId}
	</update>
	
	<update id="deleteTripChallenge" parameterType="string">
		update trip_challenge
		set is_delete=true
		where trip_challege_id = #{value}
	</update>
	
	<select id="searchTripChallenge" parameterType="string" resultType="TripChallenge">
		select trip_challenge_id, prime_rate, trip_challenge_name, start_date,
		end_date, limited_people, is_delete, challenge_image
		from trip_challenge
		where trip_challenge_name like '%' || #{value} || '%'
	</select>
	
	<select id="getTripChallengeStatus" parameterType="string" resultType="TripChallenge">
		select trip_challenge_id, trip_challenge_name, start_date,
		end_date, hits, reward_point, challenge_image
		from trip_challenge
	</select>
	
	<select id="getTripChallengeDetail" parameterType="string" resultType="TripChallenge">
		select trip_challenge_id, trip_challenge_name, start_date,
		end_date, hits, reward_point, challenge_image, trip_challenge_type
		from trip_challenge
		where trip_challenge_id = #{value}
	</select>
	
	<!-- <select id="getRtripmmendedChallengeList" parameterType="User" resultType="Challenge">
		select trip_challenge_id, prime_rate, trip_challenge_name, start_date,
		end_date, limited_people, is_delete, challenge_image
		from trip_challenge
		where trip_challenge_id=
	</select> -->
	
	<select id="getTripChallengeList" resultType="tripChallenge">
		select 
		trip_challenge_id, trip_challenge_name, start_date,
		end_date, hits, reward_point, challenge_image,is_delete,
		content, trip_challenge_type
		from trip_challenge
		where is_delete = 0
	</select>
	
	<select id="getTripChallengeListByAdmin" resultType="tripChallenge">
		select 
		trip_challenge_id, trip_challenge_name, start_date,
		end_date, hits, reward_point, challenge_image,is_delete,
		content, trip_challenge_type
		from trip_challenge
	</select>
	
	<update id="updateView" parameterType="string">
		update trip_challege
		set hits = hits + 1
		where trip_challenge_id = #{value}
	</update>
	
</mapper>









