<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="sql.hamoye.user_mapper">
	<resultMap type="user" id="userWithPointAndAccountAndEcoChallenge">
		<id column="user_id" property="userId"/>
		<result column="user_name" property="userName"/>
		<result column="account_number" property ="accountNumber"/>
		<result column="eco_challenge_id" property ="ecoChallengeId"/>
		<result column="point_id" property ="pointId"/>
		<result column="participation_count" property ="participationCount"/>
		<association property="point" javaType="point">
			<id column="point_id" property="pointId"/>
			<result column="total_point" property="totalPoint"/>
		</association>
		<association property="account" javaType="account">
			<id column="account_number" property="accountNumber"/>
			<result column="balance" property="balance"/>
			<result column="prime_rate" property="primeRate"/>
		</association>
		<association property="ecoChallenge" javaType="ecoChallenge">
			<id column="eco_challenge_id" property="ecoChallengeId"/>
			<result column="eco_challenge_name" property="ecoChallengeName"/>
			<result column="prime_rate" property="primeRate"/>
			<result column="total_count" property ="totalCount"/>
		</association>
	</resultMap>
	
	<resultMap type="user" id="userWithPoint">
		<id column="user_id" property="userId"/>
		<result column="user_name" property="userName"/>
		<result column="point_id" property ="pointId"/>
		<result column="participation_count" property ="participationCount"/>
		<association property="point" javaType="point">
			<id column="point_id" property="pointId"/>
			<result column="total_point" property="totalPoint"/>
		</association>
	</resultMap>	
	
		<resultMap type="user" id="userWithPointAndEcoChallenge">
		<result column="user_name" property="userName"/>
		<result column="point_id" property ="pointId"/>
		<result column="birthday" property ="birthday"/>
		<result column="email" property ="email"/>
		<result column="gender" property ="gender"/>
		<result column="user_address" property ="userAddress"/>
		<result column="register_date" property ="registerDate"/>
		<result column="eco_challenge_id" property ="ecoChallengeId"/>
		<result column="participation_count" property ="participationCount"/>
		<result column="user_age" property ="userAge"/>
		<association property="point" javaType="point">
			<id column="point_id" property="pointId"/>
			<result column="total_point" property="totalPoint"/>
		</association>
		<association property="ecoChallenge" javaType="ecoChallenge">
			<result column="eco_challenge_name" property="ecoChallengeName"/>
			<result column="total_count" property="totalCount"/>
		</association>
	</resultMap>
	

	<!--회원 아이디 중복 검사 + 회원/관리자 로그인 -->
	<select id="userIdPassword" parameterType="user" resultType="user">
		select user_id, user_name
		from users
		where user_id =#{userId} and is_withdraw = 0
		<if test="userPassword != null">
			and user_password=#{userPassword}
		</if>
		<if test="isAdmin==0">
			and is_admin=0
		</if>
		<if test="isAdmin == 1">
			and is_admin = 1
		</if>
	</select>
	
	<insert id="registerUser" parameterType="user">
		insert into 
		users(USER_ID,USER_PASSWORD,USER_NAME,USER_AGE,USER_ADDRESS,REGISTER_DATE,POINT_ID,BIRTHDAY,GENDER,EMAIL)
		values(#{userId},#{userPassword},#{userName},#{userAge},#{userAddress},to_date(TO_CHAR(SYSDATE,'YYYY-MM-DD'),'YYYY-MM-DD'),#{pointId},#{birthday},#{gender},#{email})
	</insert>
	
	<update id="joinAccount" parameterType="user">
		update users
		set account_number=#{accountNumber}, eco_challenge_id=#{ecoChallengeId}
		where user_id = #{userId} and is_withdraw = 0
	</update>
	
	<update id="updateUserPassword" parameterType="user">
		update users
		set user_password=#{userPassword}
		where user_id =#{userId} and email=#{email} and user_name=#{userName}
	</update>
	
	<update id="updateUser" parameterType="user">
		update users
		set user_password=#{userPassword}, email=#{email}, user_address =#{userAddress}
		where user_id =#{userId}
	</update>
	
	<update id="updateUserByAdmin" parameterType="user">
		update users
		set user_name={userName}, birthday={birthday}, email=#{email}, user_address =#{userAddress}, participation_count={participationCount}
		where user_id =#{userId}
	</update>
	
	<update id="withdrawUser" parameterType="string">
		update users 
		set is_withdraw=1
		where user_id = #{value}
	</update>
	
	<select id="getUserInfo" parameterType="string" resultType="user">
		select 
		user_id, user_password, birthday, email, user_name, user_address, register_date, gender
		from users
		where user_id =#{value}
	</select>
	
	<select id="getUserInfoByAdmin" parameterType="string" resultMap="userWithPointAndEcoChallenge">
		select 
		u.user_name, u.birthday, u.email, u.user_address, u.register_date, u.gender, u.point_id, u.participation_count,u.user_age
		u.eco_challenge_id, p.total_point, e.eco_challenge_name, e.total_count
		from users u 
		join eco_challeng e on u.eco_challenge_id=e.eco_challenge_id
		join point p on u.point_id =p.point_id
		where user_id =#{value}
	</select>
	
	<select id="getUserInfoByAdminWithNoEco" parameterType="string" resultMap="userWithPointAndEcoChallenge">
		select 
		u.user_name, u.birthday, u.email, u.user_address, u.register_date, u.gender, u.point_id, u.participation_count,
		u.eco_challenge_id, p.total_point,u.user_age
		from users u 
		join point p on u.point_id =p.point_id
		where user_id =#{value}
	</select>
	
	<select id="getUserAllInfo" parameterType="string" resultType="user">
		select
		user_id, user_name, user_age, user_address,birthday, gender,email,eco_challenge_id, account_number,point_id
		from users
		where user_id =#{value}
	</select>
	
	<select id="getMypageInfo" parameterType="string" resultMap="userWithPointAndAccountAndEcoChallenge">
		select 
		u.user_id, u.user_name, a.account_number, a.balance, p.point_id, p.total_point, e.eco_challenge_id, e.eco_challenge_name,u.participation_count, e.total_count
		from users u 
		join account a on u.account_number =a.account_number
		join point p on u.point_id = p.point_id
		join eco_challenge e on u.eco_challenge_id = e.eco_challenge_id
		where e.is_delete = 0 and u.user_id = #{value}
	</select>
	
	<select id="getMypageInfoWithNoEco" parameterType="string" resultMap="userWithPointAndAccountAndEcoChallenge">
		select 
		u.user_id, u.user_name, p.point_id, p.total_point, u.participation_count
		from users u 
		join point p on u.point_id = p.point_id
		where u.user_id = #{value}
	</select>
	
	<select id="checkEcoChallenge" parameterType="string" resultType="string">
		select
		eco_challenge_id
		from users
		where user_id = #{value}
	</select>
	
	<update id="expireAccount" parameterType="string">
		update users
		set eco_challenge_id = NULL
		where user_id = #{value}
	</update>
	
	<select id="getAllUser" resultType="user">
		select user_id,user_name, register_date
		from users
		where is_admin=0 and is_withdraw=0
	</select>
	
	<select id="getUserByEcoChallenge" parameterType="string" resultType="user">
		select user_id, user_name, eco_challenge_id, participation_count
		from users
		where eco_challenge_id =#{value} and is_withdraw = 0
	</select>
	
	<select id="getUserCntByDate" parameterType="string" resultType="int">
		select count(user_id) 
		from users
		where to_char(register_date,'YYYYMMDD') = #{value}
	</select>
	
	
</mapper>









