
#UserInfoForm {
	text-align: center;
}
#textbox, #password, #passcheck{
	height:40px; 	
	margin : 10px;
	border-radius: 5px;
	flex-grow: 1;
}
#sample4_postcode{
	margin : 10px 0 0 10px ;
	border-radius: 5px; 
	height:35px;
	}
#sample4_postcodebtn{
	float:left;
	padding : 10px 20px;
	border-radius: 5px;
	background-color: #2b3886;
	color: #e6ebff;
	margin : 10px 20px 10px 20px;
}
#sample4_roadAddress,#sample4_jibunAddress {
	margin-left:10px;
	border-radius: 5px;
} 
#sample4_detailAddress{
	margin : 0 0 10px 10px;
	border-radius: 5px;
}
#sample4_roadAddress, #sample4_jibunAddress, #sample4_detailAddress {
	height:35px;
	
}
#submit, #cancel{
	padding : 20px 50px;
	border-radius: 5px;
	background-color: #2b3886;
	color: #e6ebff;
	margin : 10px 20px 10px 20px;
}
#userExit {
	padding : 7px 16px;
	border-radius: 5px;
	background-color: #6B6B6C;
	color: #e6ebff; 
}
.maintext {
	padding : 5%;
}